:root {
  --text-color: #fff;

  --main-color: #0d7714;
  --secondary-color: #a008b7;

  --link-color: #FDDA24;

  --bg-color: #17242C;
  --bglight-color: #1C2932;

  --font-name: 'Open Sans', sans-serif;
}
